.center {
    text-align: center;
}
.container {
margin: 50px auto
}

.box1 {
    width: 1500;
    height: 60px;
    margin-left: 150px;
    margin-right: 150px;
    background: rgb(245, 228, 228);
}

.box2{
    width: 200px;
    height: 30;
    margin-right: 450px;
    margin-left: 400px;
    margin-top:0px;
    
}
.box3 {
  width: 1500x;
    height: 60px;
    margin-left: 0px;
    margin-right: 800px;
    margin-top: 2px;
    background: rgb(108, 216, 219);
}
.box4 {
  width: 1500x;
    height: 60px;
    margin-left: 0px;
    margin-right: 50px;

    background: rgb(108, 216, 219);
}

 .message {
    margin-bottom: 0px;
  }

  .button1 {
    width: 50px;
    height: 25px;
  }
  .design {
    background-color: aqua;
    float: right;
  }
   
  .box {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
  }
  .altbox {
    flex: 1;
  
  }
  .altbox1 {
    background-color:bisque;
    margin-right: 2px;
    margin-top: 2px;
    
  }
  .altbox2 {
    background-color: aqua;
    margin-top: 2px;
  }
  .altbox3 {
    background-color:aquamarine;
    margin-left: 2px;
    margin-top: 2px;
  }
